@model labTask2.Models.Entity.Product
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/product/create" method="post">
    <table>
        <tr>
            <td><span><b>Product Name:</b></span></td>
            <td>
                <input type="text" name="Name" placeholder="Product Name" class="form-control"><br>
                @Html.ValidationMessageFor(m => m.Name,"", new {@class="text-danger"})

            </td>
        </tr>

        <tr>
            <td><span><b>Product Price:<b></span></td>
            <td>
                <input type="text" name="Price" placeholder="Product Price" class="form-control"><br>
            </td>
        </tr>

        <tr>
            <td><span><b>Add Quantity:</b></span></td>
            <td>
                <input type="text" name="Quantity" placeholder="Qty" class="form-control"><br>
            </td>
        </tr>
        <tr>
            <td><span><b>Description:</b></span></td>
            <td>
                <input type="text" name="Description" placeholder="Description" class="form-control"><br>
            </td>
        </tr>

        <tr>
            <td><input type="submit" value="Add Product" class="btn btn-success"></td>
        </tr>


    </table>
</form>

