
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<table class="table table-bordered">

    <tr>
        <th>Institution Name</th>

        <th>Result</th>

        <th>Year</th>

    </tr>
    <tr>
        <td>NKM School</td>
        <th>SSC- 4.88</th>
        <th>2016</th>

    </tr>

    <tr>
        <td>Abdul Kadir Mollah City Collage</td>
        <th>HSC- 4.88</th>
        <th>2018</th>

    </tr>

    <tr>
        <td>American Interantional University Bangladesh</td>
        <th>CGPA- 3.5</th>
        <th>2018-Present</th>

    </tr>
</table>

