
@{
    ViewBag.Title = "PersonalInfo";
}

<h2>PersonalInfo</h2>

<p>
    Name: Rahman,Fozlur<br />
    Father's Name: Rahman, Jayedur<br />
    Age: 22<br />
    Blood Type: A+<br />
    Nationality: Bangladeshi<br />
</p>
