
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table class="table table-bordered">

    <tr>
        <th>Project Name</th>

        <th>Language</th>
        <th>Course</th>
        <th>Status</th>

    </tr>
    <tr>
        <td>Market Management System</td>
        <th>C++</th>
        <th>OOP1</th>
        <th>Complete</th>
    </tr>

    <tr>
        <td>MediCare App</td>
        <th>Python</th>
        <th>Software Engineering </th>
        <th>Ongoing </th>
    </tr>

    <tr>
        <td>Online Pet Shop</td>
        <th>Php, JavaScript</th>
        <th>OOP2</th>
        <th>complete</th>
    </tr>

</table>
